.App {
  min-height: 100vh;
   background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    color: white;
    min-height: 10vh;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
  text-decoration: none;
  color: blue;
}

